.error-section .wrapper {
	text-align: center;
	max-width: 550px;
	margin: auto;
}
.error-section .error-title {
	font-size: 200px;
	line-height: 200px;
	font-weight: 800;
	margin-bottom: 20px;
	color: var(--heading-color);
}
.error-section .error-title span {
	width: 145px;
	height: 145px;
	display: inline-block;
	margin: 0 10px;
	background-image: url(../../assets/pages/error404/error.gif);
	background-size: 100%;
}
.error-section .error-text {
	font-size: 32px;
	color: var(--heading-color);
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 40px;
}
.error-section p {
	color: #444;
	font-size: 19px;
	line-height: 1.6;
	margin-bottom: 30px;
}
.error-section .btn-error-primary {
	background: var(--main-color);
	color: #fff !important;
	padding: 15px 20px;
	border-radius: var(--border-radius-md);
	font-weight: 400;
	font-size: 16px;
}

@media (max-width: 768px) {
	.error-section .error-title {
		font-size: 150px;
		line-height: 150px;
	}
	.error-section .error-title span {
		width: 125px;
		height: 125px;
	}
}
