.back-to-top-wrapper {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	position: fixed;
	right: 15px;
	bottom: 15px;
	font-size: 30px;
	background-color: var(--main-color);
	color: #fff;
	border-radius: var(--border-radius-md);
	-webkit-border-radius: var(--border-radius-md);
	-moz-border-radius: var(--border-radius-md);
	-ms-border-radius: var(--border-radius-md);
	-o-border-radius: var(--border-radius-md);
	box-shadow: 0 10px 30px 0 rgb(31 34 120 / 10%);
	cursor: pointer;
	z-index: 1;
}
